.PedidoContent {
  flex: 1;
  padding: 20px;
  margin-left: 260px; /* espaço para a sidebar */
  transition: all 0.3s ease;
}
.sidebar.close ~ .PedidoContent {
  position: absolute;
  z-index: -1;
  left: 78px;
  right: 0;
  height: 100%;
  margin-left: 0px;
  transition: all 0.5s ease;
}

@media (max-width: 768px) {
  .sidebar.close ~ .PedidoContent {
    
    left: 0px;
  }

  .PedidoContent {
    margin-left: 0;
    padding: 10px;
    margin-top: 78px;
    left: 0px;
  }
}