.horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
}

.sidebar.close ~ .pag {
	position: absolute;
	z-index: -1;
	left:78px;
	right: 0;
	height: 100%;
    transition: all 0.5s ease;
}

.sidebar ~ .pag {
	position: absolute;
	z-index: -1;
	left:260px;
	right: 0;
	height: 100%;
    transition: all 0.5s ease;
}

.pag{
	padding-left: 20px;
	padding-right: 20px;
}

.pag h1{
	padding-top: 40px;
	padding-bottom: 40px;
}

#tabela {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
#tabela td, #tabela th {
    border: 1px solid #ddd;
    padding: 8px;
  }
#tabela td a {
    cursor: pointer;
    text-decoration: none;
}
#tabela th:first-child {
    width: 30px;
}
#tabela th:last-child {
    width: 30px;
}
#tabela tr:nth-child(odd){background-color: #fff;}
#tabela tr:nth-child(even){background-color: #f2f2f2;}
#tabela tr:hover {background-color: #ddd;}
#tabela tr{justify-content: center;}

#tabela th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--blue-twitter);
    color: white;
}
#img{
	text-align: center;
	font-size: 24px;
}
#tabela #rodape tr{
	background-color: transparent;
}
#tabela #rodape tr:hover{
	background-color: transparent;
}
#tabela #rodape td{
	border: 1px solid transparent;
}
#tabela #last th{
	width: 30px;
}
@media (max-width: 767px) {
	.sidebar.close ~ .pag {
		position: absolute;
		z-index: -1;
		left:0;
		right: 0;
		top:78px;
		height: 100%;
		transition: all 0.5s ease;
	}
}